<ion-content>
  <main>
    <article>

      <!--
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/project-1.png" width="800" height="540" loading="lazy"
                       alt="BI Report" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="BI Report">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">BI Analysis</span>

                  <h3 class="title-md">Netflix Shows Analysis</h3>

                  <p class="card-text">
                    I have created an analysis report of some famous shows and movies in netflix using AWS QuickSight in an interactive way.
                  </p>

                  <a href="https://github.com/soumitkmondal/Netflix_Analysis_Quicksight" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/Project-2.png" width="800" height="540" loading="lazy"
                       alt="Website Design using node and mongodb and aws" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="Website Design using node and mongodb and aws">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Crello Blog</h3>

                  <p class="card-text">
An Innovative modern blogging platform, that is highly reliable and easy to maintain for sharing contents and building communities.
                  </p>

                  <a href="https://github.com/soumitkmondal/MyBlogApp" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/project-3.png" width="800" height="540" loading="lazy"
                       alt="Website Design using java springboot angular and aws" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="Website Design using java springboot angular and aws">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Expensy</h3>

                  <p class="card-text">
A personalized expense tracker app that helps you effortlessly monitor your spending from day one, complete with a built-in to-do list to keep your finances and tasks perfectly organized. 
                  </p>

                  <a href="https://github.com/soumitkmondal/PersonalizedExpenseTracker" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

<!--             <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-4.jpg" width="800" height="540" loading="lazy"
                       alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design for Marketing Agency Startup</h3>

                  <p class="card-text">
                    I design and develop services for customers of all sizes, specializing in creating stylish, modern
                    websites, web services and online stores
                  </p>

                  <a href="#" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li> -->

          </ul>

        </div>
      </section>

    </article>
  </main>
</ion-content>
